@import "../variables"

.footer
	background-color: $accent-color
	margin: 50px 0 0 0
	display: flex
	justify-content: space-between
	align-items: center
	color: #FFFFFF
	padding: 40px
	height: 10vh
	p
		margin: 0